<% if current_user.favo?(micropost) %>
  <%= form_for(current_user.favorites.find_by(favorite_micropost_id: micropost.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :favorite_micropost_id, micropost.id %>
    <button type="submit" class="btn btn-danger btn-xs">
      <span class="glyphicon glyphicon-star"></span>
    </button>
  <% end %>
<% else %>
  <%= form_for(current_user.favorites.build) do |f| %>
    <%= hidden_field_tag :favorite_micropost_id, micropost.id %>
    <button type="submit" class="btn btn-default btn-xs">
      <span class="glyphicon glyphicon-star"></span>
    </button>
  <% end %>
<% end %>