<div class="row">
  <%= render 'icon', user: @user %>
  
  <div class="col-xs-8">
    <%= render 'navbar',
    user: @user, count_followers: @count_followers,
    count_followings: @count_followings,
    count_microposts: @count_microposts
    %>
    <%= render 'users', users: @followings %>
  </div>
</div>